.btns {
	margin-right: 20px;
	height: 40px;
	border: none;
	outline: none;
	background: rgb(141, 150, 150);
	border-radius: 12px;
	font-size: 15px;
	cursor: pointer;
}
	
.list-layout {
	margin-top: 20px;
}

.grid-layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
